<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TinyUrlImitation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Shorten your url</h1>
<p>Welcome url shortener user wannabe! Here you can add a very long url ,
    which you want to shorten, than push the shorten button,
    and that's it! </p>
<form action="#" th:action="@{/shortit}" th:object="${url}" method="post">
    <p>URL goes here<input type="text" th:field="*{urlinput}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>

