<!DOCTYPE html>
<html>
<head>
</head>
<body>
<header>
</header>
<div class="jumbotron">
    <div class="container">
        <h1>Shorten your url</h1>
        <p>Welcome url shortener user wannabe! Here you can add a very long url ,
            which you want to shorten, than push the shorten button,
            and that's it! </p>
        <p>
        <form class="form-group" th:action="@{/submit}" th:object="${url}" method="POST">
                <input type="text" class="form-control" th:field="*{url}" placeholder="insert your url"/>
            <button type="submit" class="btn btn-primary">Shorten </button>
        </form>
        </p>
    </div>
</div>
</body>
</html>